

.esSearchForm .searchResults em {
  background-color: #FFFFAA;
}
.esSearchForm div.esSearchOptions {
  text-align: left;
}
.esSearchForm .searchResults,
.esSearchForm div.esSearchOptions,
.esSearchForm .listingBar {
  display: none;
}

.esSearchForm .searchResults dt.contenttype-file {
    padding-left : 20px;
    background: url("contenttypes-sprite.png") no-repeat scroll 0px 4px transparent;
    line-height : 2em;
}

.esSearchForm img {
    padding-bottom : 0.2em;
}

#esSearchSummaryBox {
    font: 1em/1.5em "Lucida Grande",Verdana,Arial,sans-serif !important;
    text-align : left;
    margin: 1em 0 1.2em; 
    border: 1px solid #ddd; 
    padding: 3px 10px;
    height: 55px;
}

#esSearchSummaryBox p span {
    margin: 2px 0; 
    padding-bottom: 17px;
    background: url(arrowDown.png) center 20px no-repeat;
}

#content a.esSearchOptions {
    border: 0;
}
