

.esSearchForm .searchResults em {
  background-color: #FFFFAA;
}
.esSearchForm div.esSearchOptions {
  text-align: left;
}
.esSearchForm .searchResults,
.esSearchForm div.esSearchOptions,
.esSearchForm .listingBar {
  display: none;
}

.esSearchForm .searchResults dt {
    padding-left : 20px;
    background: url("contenttypes-sprite.png") no-repeat scroll 0px 4px transparent;
}
